<h3>
  <%= @post.title %>
</h3>

<%= @post.body.gsub(/\n/, "<br />") %>

<hr>
<strong>Leave a comment</strong>
<br />
<br />
<form method="post" action="/view/comment/<%= @post.id %>">
  <table>
    <tr>
      <td>
        <label name="name">
          Name
        </label>
      </td>
      <td>
        <input type="text" name="name" id="name" required />
      </td>
    </tr>
    <tr>
      <td>
        <label name="email">
          E-mail
        </label>
      </td>
      <td>
        <input type="email" name="email" id="email" required />
      </td>
    </tr>
    <tr>
      <td>
        <label name="title">
          Title
        </label>
      </td>
      <td>
        <input type="text" name="title" id="title" required />
      </td>
    </tr>
    <tr>
      <td>
        <label name="comment">
          Your Comment
        </label>
      </td>
      <td>
        <textarea name="body" id="comment" required></textarea>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <input type="submit" value="Add Comment" />
      </td>
    </tr>
  </table>
</form>

<hr>

<% @comments.each do |comment| %>

  <strong><%= comment.title %></strong> by <a href="mailto:<%= comment.email %>"><%= comment.author %></a>
  <br />
  <br />
  <%= comment.body.gsub(/\n/, "<br />") %>

  <hr>

<% end %>